*{
    padding:0;
    margin:0;
}
body{
    background-color:#370617;
}
img{
    height:50px;
    width:50px;
   
}

#logo{
    background-color:#f48c06;
    position:absolute;
    bottom:0px;
    width:100%;
}
#navbar{
    height:60px;
    
    text-decoration:none;
    background-image:url("navbar.jpg");
    background-size:cover;
   }
#mail{
    text-decoration:none;
    color:#efc3e6;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    color:#efc3e6;
    text-transform:capitalize;
    text-align:center;
}
body{
    background-image:url("nature.jpg");
    background-size:cover;
}
#c{
    display:inline-block;
}  
#a{
   
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:#caf0f8;
    border:2px solid rgb(94, 17, 167);
    border-radius:20px;
    position:relative;
    top:10px;
}
#b{
    
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:#caf0f8;
    border:2px solid rgb(94, 17, 167);
    border-radius:20px;
    position:relative;
    top:10px;
    
}
#e{
   
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:#caf0f8;
    border:2px solid rgb(94, 17, 167);
    border-radius:20px;
    position:relative;
    top:10px;
}